.carousel > .carousel-inner > .carousel-item > img {
    width  : 100vh;
    height : calc(100vh - 56px);
    /* height : 10vh; */
}

/*.main-window-alt {
	width  : 100vh;
    height : calc(100vh - 56px);
}*/

.centered-el {
	padding-top : 45vh;
}

.bg {
	background-color : #1A1A1A;
}

.sys-win-img {
	margin-top: 24vh;
	margin-bottom: 1vh;
	width  : 25vh;
    height : 25vh;
}